@keyframes move-and-fade {
  /* El título se mueve a la derecha hasta el 100% de su ancho */
  25% {
    transform: translateX(100%);
    opacity: 0.0;
  }
  /* El título se vuelve semi-transparente */
  100% {
    opacity: 0.2;
  }
  /* El título se mueve a la izquierda hasta el -50% de su ancho */
  75% {
    transform: translateX(-50%);
    opacity: 0;
  }
  /* El título vuelve a su posición inicial */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animation-title {
  animation: move-and-fade 2.5s infinite;
  /* Asumiendo que el título está centrado inicialmente */
  transform: translateX(0);
}

@keyframes izquierda-derecha{
  25%{
    transform: translateX(20%);
  }
  90% {
    transform: translateX(-20%);
  }
  100%{
    transform: translateX(0);
  }
}

.animation-input {
  animation: izquierda-derecha 1s 1;
  transform: translateX(0);
}