<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="text-align: center;">Bienvenido!</h1>
  <p>Usuario: {{name}}</p>
  <h2 style="text-align: center;">Información adicional</h2>
  <ion-item>
    <label>Nombre: </label>
    <input [(ngModel)]="nombre" type="text" placeholder="Ingrese nombre">
  </ion-item>
  <ion-item>
    <label>Apellido: </label>
    <input [(ngModel)]="apellido" type="text" placeholder="Ingrese nombre">
  </ion-item>
  <ion-item>
    <label>Nivel de educación: </label>
    <ion-select [(ngModel)]="educacion" interface="popover" placeholder="Seleccione Nivel">
      <ion-select-option value="primero">Primer año</ion-select-option>
      <ion-select-option value="segundo">Segundo año</ion-select-option>
      <ion-select-option value="tercero">Tercer año</ion-select-option>
      <ion-select-option value="cuarto">cuarto año</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <label>Fecha de nacimiento: </label>
    <input [(ngModel)]="fecha" type="date">
  </ion-item>
  <ion-item>
    <ion-button (click)="limpiar()">Limpiar</ion-button>
    <ion-button (click)="mostrar()">Mostrar</ion-button>
  </ion-item>
</ion-content>

<ion-item>
  <ion-footer>
    App desarrollada por Sebastián
  </ion-footer>
</ion-item>